$black: #15161e;
$red: #f7768e;
$green: #9ece6a;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
$cyan: #7dcfff;
$white: #a9b1d6;
$base: #1a1b26;
$foreground: #c0caf5;

/*
WILL DELETE */
$cadet-gray: rgba(162, 183, 193, 1);
$cadet-gray-2: rgba(147, 171, 230, 1);
$lapis-lazuli: rgba(62, 95, 128, 1);
$columbia-blue: rgba(198, 212, 217, 1);
$indigo-dye: rgba(35, 65, 99, 1);

// $base: $indigo-dye;
$foreground: $columbia-blue;
$blue: $cadet-gray-2;

/*
WILL DELETE */

$orange: #ff9e64;
$red2: #db4b4b;

$bg_color: transparentize($base, 0.3);
$accent: $blue;
$accent_gradient: linear-gradient(to right, $accent, lighten($accent, 10%));

$fg_color: $foreground;
$gradient_accent: true;

@mixin accent($accent: $accent) {
  @if $gradient_accent {
    background-image: $accent_gradient;
  } @else {
    background-color: $accent;
  }
}
