window {
  background-color: transparent;
}
* {
  font-size: 15px;
  font-family: "Ubuntu Nerd Font", sans-serif;
}

@mixin popupwindow() {
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 $base;
  background-color: $bg_color;
  color: $fg_color;
}
