.audio__container {
  padding: 5px;

  .volume {
    margin: 5px;
  }

  .microphone {
    margin: 5px;
  }

  .app-mixer {
    scale {
      margin-top: 4px;

      trough {
        min-height: 10px;
      }
    }
  }

  .menu {
    min-width: 300px;
    border-radius: $border_radius;
    margin: 5px;

    .content.vertical {
      >*:first-child>* {
        &:last-child {
          margin-bottom: 8px;
        }
      }

      >button {
        image {
          margin-right: 6px;
        }

        margin: 8px 10px;
        margin-bottom: 0px;
        border: 1px solid transparentize($color: $on_background, $amount: 0.8);
        box-shadow: unset;
        padding: 6px;
        border-radius: divide-each($border_radius, 2);
      }
    }
  }

  .arrow {
    padding: 3px;
    border-radius: divide-each($border_radius, 2);
    background-color: $on_secondary;

    &:hover {
      background-color: $primary_container;
    }
  }
}
