.bar__container {
  margin: $bar_margin;
  border-radius: $bar_border_radius;

  .start {
    .panel-button:first-child {
      margin-left: 3px;
    }
  }

  .end {
    .panel-button:last-child {
      margin-right: 3px;
    }
  }
}
