.battery-popup__container {
  min-width: 300px;
  padding: 10px;

  .battery-info__container {
    .percent {
      font-size: 30px;
      color: $on_primary;
      font-weight: 600;
      margin-left: 10px;
    }

    levelbar {
      trough {
        min-height: 50px;
      }
    }

    .time-remaining {
      color: $on_background;
      font-size: 13px;
      margin-top: 4px;
      margin-bottom: 10px;
      font-style: italic;
    }
  }

  .power-profile__container {
    label {
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 6px;
    }

    .item {
      box-shadow: 1px 1px 2px transparentize($color: rgb(0, 0, 0), $amount: 0.7);
      border-radius: divide-each($border_radius, 1.5);
      color: $on_background;
      background-color: $on_secondary;
      min-height: 24px;

      &:hover {
        background-color: $primary_container;
      }

      &.active {
        background-color: $primary;
        color: $background;
      }
    }
  }
}
