.datemenu__container {
  padding: 10px;

  .clock {
    font-size: 35px;
    font-weight: 500;
  }

  .date {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12px;
  }

  calendar {
    font-weight: 500;
    border: unset;
    border-radius: unset;

    &:selected {
      background-color: $primary;
      border-radius: 0;
      color: $background;
      border-radius: 6px;
    }
  }
}
