.menu {
  // padding-top: 12px;
  margin: 0 8px;
  padding: 10px;
  background-color: transparentize($color: $on_secondary, $amount: 0.3);
  border-bottom-right-radius: $border_radius;
  border-bottom-left-radius: $border_radius;
  color: $on_background;

  .content {
    >*>* {
      @include button1;
      box-shadow: unset;
      border: 0.7px solid transparentize($color: $on_background, $amount: 0.6);
      // box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
      border-radius: $border_radius / 2;
      background-color: transparent;
      padding: 6px;
      margin: 4px 0px;

      &:last-child {
        margin-bottom: 0px;
      }

      &:first-child {
        margin-top: 0px;
      }
    }
  }

  .title-box {
    .icon {
      font-size: 16px;
    }

    .title {
      margin-left: 6px;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
