.notification {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: $window_margin;
  margin-bottom: 6px;
  border-radius: $border-radius;
  background-color: $background_color;
  color: $on_background;

  &:hover button.close-button {
    background-color: $primary_container;
  }

  &.critical {
    box-shadow: 0.9em 0.9em $error;
  }

  button.close-button {
    box-shadow: unset;
    margin-top: 0.2em;
    margin-left: 0.5em;
    min-width: 1.2em;
    min-height: 1.2em;

    image {
      font-size: 16px;
    }

    &:hover {
      background-color: $primary_container;
    }
  }

  .content {
    margin: 0.7em;

    .title {
      font-size: 15px;
      font-weight: 600;
    }

    .time {
      font-size: 15px;
      font-weight: 600;
      color: transparentize($on_background, 0.2);
    }

    .description {
      min-width: 300px;
      margin-top: 0.5em;
      font-size: 0.9em;
      font-style: italic;
      color: transparentize($on_background, 0.2);
    }

    .icon {
      margin-right: 10px;
    }
  }
}

.actions {
  margin: 0.7em;
  margin-bottom: 0.7em;
  margin-top: 5px;

  button {
    border-radius: divide-each($border_radius, 1.7);
    padding: 4px;
    margin: 0px 6px;
    background-color: $background;
    font-size: 1.2em;

    &:hover {
      background-color: $primary_container;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
