.osd {
  background-color: $background_color;
  border-radius: divide-each($border_radius, 1.5);

  &.regular {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: $osd_regular_margin;
    min-width: 90px;
    padding: 8px;
    color: $on_background;

    label {
      font-weight: 600;
    }
  }

  &.progress {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: $osd_progress_margin;
    padding: 4px;

    .icon {
      color: $background;
    }

    .fill {
      background-color: $primary;
      border-radius: divide-each($border_radius, 1.5);
    }
  }

  .progress {
    background-color: transparentize($color: $on_secondary, $amount: 0.3);
    border-radius: divide-each($border_radius, 1.5);
  }
}
