.system-monitor__container {
  padding: 10px;
  padding-top: 0px;
  min-width: 220px;

  border-radius: $border_radius;
  margin: $system_monitor_margin;

  .day-dots {
    .fill {
      min-height: 15px;
      min-width: 15px;
      border-radius: divide-each($border_radius, 1.5);
      background-color: $primary;
      border: solid 1px $primary;
    }

    .empty {
      min-width: 15px;
      min-height: 15px;
      border-radius: divide-each($border_radius, 1.5);
      border: solid 1px $primary;
    }
  }

  .day {
    font-size: 50px;
    font-family: "Roboto Condensed";
    font-weight: 600;
    color: $primary;
    margin-bottom: 8px;
  }

  .day-number {
    font-size: 30px;
    font-family: "Roboto Condensed";
    font-weight: 600;
    color: transparentize($color: $on_background, $amount: 0.2);
  }

  .month {
    font-size: 28px;
    font-family: "Dancing Script";
    color: transparentize($color: $on_background, $amount: 0.2);
  }

  .cpu-box {
    min-width: 120px;
  }

  .label {
    font-size: 14px;
    color: $on_background;
  }

  separator {
    min-height: 2px;
    background-color: $primary;
  }

  .value {
    font-weight: 600;
    font-size: 16px;
    color: $on_background;
  }

  .progress {
    min-width: 55px;
    min-height: 55px;
    font-size: 8px;
    margin: 4px;
    background-color: $on_secondary;
    color: $primary;

    box {
      min-height: 55px;
      min-width: 55px;
      background-color: $on_secondary;
      margin: 15px;
      border-radius: 99px;
    }

    image {
      font-size: 16px;
      // margin: 5px;
      // margin-left: 6px;
    }
  }
}
