.workspace__container {
  background-color: transparentize(if($dark_mode, $background, $on_secondary),
      1 - $bar_button_opacity );
  color: $on_background;
  // margin-top: nth($list: $bar_padding, $n: 1);
  // margin-bottom: nth($list: $bar_padding, $n: 3);
  // margin-right: 3px;
  border-radius: $bar_button_border_radius;
  padding: $panel_button_padding;
  box-shadow: if($bar_button_shadow, 1px 1px 2px rgba(0, 0, 0, 0.4), none);

  .workspace-button {
    min-height: 10px;
    min-width: 10px;
    border: solid 2px $on_background;
    border-radius: $bar_button_border_radius;
    padding: 2px;

    .fill {
      border-radius: divide-each($bar_button_border_radius, 2);
    }

    &:hover {
      border-color: $primary;
    }

    &.active {
      border-color: $primary;

      .fill {
        &.hort {
          min-width: $workspace_active_width;
        }

        &.vert {
          min-width: 0px;
          min-height: $workspace_active_width;
        }
      }
    }

    &.occupied {
      &:hover {
        .fill {
          background-color: $primary;
        }
      }

      .fill {
        background-color: $on_background;
      }

      &.active {
        .fill {
          background-color: $primary;
        }
      }
    }
  }
}
