* {
  all: unset;
  font-size: 14px;
  font-family: "Ubuntu Nerd Font", sans-serif;
}

.window-content {
  margin: 0px 12px 12px 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(249, 249, 255, 0.7);
  color: #191c20;
}

.entry-box {
  border-radius: 0px 0px 0px 0px;
  padding: 0px 8px;
  min-height: 35px;
  background-color: #3d5f90;
  color: #f9f9ff;
  font-weight: 600;
}
.entry-box image {
  color: #f9f9ff;
  font-size: 16px;
}
.entry-box entry {
  padding-left: 10px;
}

scrolledwindow .item {
  background-color: #ffffff;
  padding: 4px;
  color: #2e3035;
  margin-left: 10px;
  margin-right: 10px;
}
scrolledwindow .item image {
  padding-right: 6px;
}
scrolledwindow .item:last-child {
  margin-bottom: 10px;
}
scrolledwindow .item .checkmark {
  color: #3d5f90;
}
scrolledwindow .item:hover {
  background-color: #d4e3ff;
}
scrolledwindow .item:active {
  background-color: transparent;
}
scrolledwindow .item:focus {
  background-color: #3d5f90;
  color: #f9f9ff;
}
scrolledwindow .item:focus label {
  color: #f9f9ff;
}

button {
  font-weight: 600;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
button:hover {
  background-color: #d4e3ff;
}

.panel-button {
  background-color: #ffffff;
  color: #191c20;
  padding: 4px 6px;
  font-weight: 600;
  border-radius: 0px 0px 0px 0px;
  margin: 3px 0px 3px 0px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.panel-button .panel-control-center.empty {
  color: rgba(25, 28, 32, 0.4);
}
.panel-button .panel-battery.charging {
  color: #3d5f90;
}
.panel-button.active .panel-battery {
  color: #f9f9ff;
}
.panel-button.active .panel-control-center.empty {
  color: #f9f9ff;
}
.panel-button:hover {
  background-color: #d4e3ff;
}
.panel-button.active {
  background-color: #3d5f90;
  color: #f9f9ff;
}

.toggle-button {
  background-color: #ffffff;
  color: #191c20;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 0px 0px 0px 0px;
}
.toggle-button:hover {
  background-color: #d4e3ff;
}
.toggle-button .icon {
  margin-right: 8px;
}
.toggle-button button {
  box-shadow: unset;
  border-radius: 0px 0px 0px 0px;
  padding: 10px;
}
.toggle-button button:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.toggle-button button:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.toggle-button button:hover {
  background-color: #d4e3ff;
}
.toggle-button.active {
  background-color: #3d5f90;
  color: #f9f9ff;
}
.toggle-button.active button:hover {
  background-color: transparent;
}

.menu {
  background-color: #ffffff;
  margin: 0px 10px;
  min-width: 280px;
  border-radius: 0px 0px 0px 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.menu .title-box {
  margin: 10px;
  margin-bottom: 8px;
}
.menu .title-box .icon {
  margin-right: 6px;
}
.menu .title-box .title {
  font-size: 15px;
  font-weight: 600;
}
.menu .content.vertical {
  margin: 8px 0px;
}
.menu .content.vertical > *:first-child > * {
  margin: 3px 10px;
  border: 1px solid rgba(25, 28, 32, 0.2);
  box-shadow: unset;
  padding: 6px;
  border-radius: 0px 0px 0px 0px;
}
.menu .content.vertical > *:first-child > * image {
  margin-right: 6px;
}
.menu .content.vertical > *:first-child > *:first-child {
  margin-top: 0px;
}
.menu .content.vertical > *:first-child > *:last-child {
  margin-bottom: 0px;
}

separator {
  min-height: 1px;
  background-color: rgba(25, 28, 32, 0.2);
}

scale {
  border-radius: 0px 0px 0px 0px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
scale trough {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0px 0px 0px 0px;
  min-height: 20px;
}
scale trough highlight {
  background-color: #3d5f90;
  border-radius: 0px 0px 0px 0px;
}

scrollbar {
  background-color: #ffffff;
  border-radius: 0px 0px 0px 0px;
}
scrollbar slider {
  min-width: 6px;
  border-radius: 0px 0px 0px 0px;
  background-color: #3d5f90;
}

levelbar trough {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 0px 0px;
}
levelbar trough block:first-child {
  border-radius: 0px 0px 0px 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
levelbar trough block:last-child {
  border-radius: 0px 0px 0px 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
levelbar trough block.empty {
  background-color: #ffffff;
}
levelbar trough block.filled {
  background-color: #3d5f90;
}

menuitem {
  background-color: #ffffff;
  border-radius: 0px 0px 0px 0px;
  margin: 4px 6px;
  padding: 4px 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
menuitem:hover {
  background-color: #d4e3ff;
}
menuitem:first-child {
  margin-top: 6px;
}
menuitem:last-child {
  margin-bottom: 6px;
}
menuitem label {
  font-size: 13px;
  font-weight: 500;
}

menu {
  background-color: #f9f9ff;
  border-radius: 0px 0px 0px 0px;
  color: #191c20;
}

.splash-text {
  font-size: 14px;
  color: #191c20;
  font-weight: 600;
}

tooltip {
  background-color: #f9f9ff;
  color: #191c20;
  border-radius: 0px 0px 0px 0px;
}

switch {
  background-color: rgba(25, 28, 32, 0.2);
  border-radius: 0px 0px 0px 0px;
  color: transparent;
}
switch slider {
  background-color: #3d5f90;
  border-radius: 0px 0px 0px 0px;
  min-width: 12px;
}

.applauncher__container .entry-box {
  margin: 10px;
}

.audio__container {
  padding: 5px;
}
.audio__container .volume {
  margin: 5px;
}
.audio__container .microphone {
  margin: 5px;
}
.audio__container .app-mixer scale {
  margin-top: 4px;
}
.audio__container .app-mixer scale trough {
  min-height: 10px;
}
.audio__container .menu {
  min-width: 300px;
  border-radius: 0px 0px 0px 0px;
  margin: 5px;
}
.audio__container .menu .content.vertical > *:first-child > *:last-child {
  margin-bottom: 8px;
}
.audio__container .menu .content.vertical > button {
  margin: 8px 10px;
  margin-bottom: 0px;
  border: 1px solid rgba(25, 28, 32, 0.2);
  box-shadow: unset;
  padding: 6px;
  border-radius: 0px 0px 0px 0px;
}
.audio__container .menu .content.vertical > button image {
  margin-right: 6px;
}
.audio__container .arrow {
  padding: 3px;
  border-radius: 0px 0px 0px 0px;
  background-color: #ffffff;
}
.audio__container .arrow:hover {
  background-color: #d4e3ff;
}

.bar__container {
  margin: 12px 12px 12px 12px;
  border-radius: 0px 0px 0px 0px;
}
.bar__container .start .panel-button:first-child {
  margin-left: 3px;
}
.bar__container .end .panel-button:last-child {
  margin-right: 3px;
}

.battery-popup__container {
  min-width: 300px;
  padding: 10px;
}
.battery-popup__container .battery-info__container .percent {
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
  margin-left: 10px;
}
.battery-popup__container .battery-info__container levelbar trough {
  min-height: 50px;
}
.battery-popup__container .battery-info__container .time-remaining {
  color: #2e3035;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 10px;
  font-style: italic;
}
.battery-popup__container .power-profile__container label {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 6px;
}
.battery-popup__container .power-profile__container .item {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 0px 0px;
  color: #2e3035;
  background-color: #ffffff;
  min-height: 24px;
}
.battery-popup__container .power-profile__container .item:hover {
  background-color: #d4e3ff;
}
.battery-popup__container .power-profile__container .item.active {
  background-color: #3d5f90;
  color: #f9f9ff;
}

.control-center__container .brightness-box {
  padding: 10px;
}
.control-center__container .notifications__container {
  padding: 10px 0px;
}
.control-center__container .notifications__container .placeholder image {
  font-size: 24px;
}
.control-center__container .notifications__container .placeholder label {
  margin-top: 6px;
  font-size: 14px;
}
.control-center__container .notifications__container .header {
  padding: 0px 10px;
  padding-right: 13px;
  margin-bottom: 5px;
}
.control-center__container .notifications__container .header label {
  font-size: 18px;
  font-weight: 600;
}
.control-center__container .notifications__container .header button {
  border-radius: 0px 0px 0px 0px;
  background-color: #ffffff;
  padding: 10px;
}
.control-center__container .notifications__container .header button:hover {
  background-color: #d4e3ff;
}
.control-center__container .notifications__container .notification {
  margin: 5px 10px;
  margin-right: 13px;
  background-color: #ffffff;
}
.control-center__container .notifications__container .notification .actions button {
  background-color: rgba(25, 28, 32, 0.1);
}
.control-center__container .notifications__container .notification .actions button:hover {
  background-color: #d4e3ff;
}
.control-center__container .notifications__container .notification .content .description {
  min-width: 235px;
}
.control-center__container .qs-buttons {
  padding: 10px;
}
.control-center__container .qs-buttons .qs-button {
  background-color: #ffffff;
  color: #191c20;
  padding: 6px 4px;
}
.control-center__container .qs-buttons .qs-button:active {
  background-color: #3d5f90;
  color: #191c20;
}
.control-center__container .qs-buttons .qs-button:hover {
  background-color: #d4e3ff;
}
.control-center__container .qs-buttons .qs-button .label {
  font-weight: 500;
  font-size: 12px;
}
.control-center__container .qs-buttons .qs-button.active {
  background-color: #3d5f90;
  color: #f9f9ff;
}

.datemenu__container {
  padding: 10px;
}
.datemenu__container .clock {
  font-size: 35px;
  font-weight: 500;
}
.datemenu__container .date {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 12px;
}
.datemenu__container calendar {
  font-weight: 500;
  border: unset;
  border-radius: unset;
}
.datemenu__container calendar:selected {
  background-color: #3d5f90;
  border-radius: 0;
  color: #f9f9ff;
  border-radius: 6px;
}

.media__container .player {
  margin-top: 0px;
  padding: 10px;
}
.media__container .player scale.position {
  margin-bottom: 6px;
}
.media__container .player scale.position trough {
  min-height: 15px;
}
.media__container .player .title {
  font-size: 16px;
  font-weight: 600;
}
.media__container .player .artist {
  font-size: 14px;
}
.media__container .player .img {
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 0px 0px 0px 0px;
  margin-right: 1em;
}
.media__container .player .position {
  font-weight: 600;
}
.media__container .player .length {
  font-weight: 600;
}
.media__container .player button {
  padding: 4px;
  box-shadow: none;
  border-radius: 0px 0px 0px 0px;
}

.network-info__container {
  padding: 10px;
  min-width: 350px;
}

.network-speed {
  font-weight: 600;
  margin-left: 3px;
}
.network-speed .label {
  font-size: 10px;
}
.network-speed .unit {
  font-size: 9px;
  margin-right: 3px;
}

.notification {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 0px 12px 12px 12px;
  margin-bottom: 6px;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(249, 249, 255, 0.7);
  color: #191c20;
}
.notification:hover button.close-button {
  background-color: #d4e3ff;
}
.notification.critical {
  box-shadow: 0.9em 0.9em #ba1a1a;
}
.notification button.close-button {
  box-shadow: unset;
  margin-top: 0.2em;
  margin-left: 0.5em;
  min-width: 1.2em;
  min-height: 1.2em;
}
.notification button.close-button image {
  font-size: 16px;
}
.notification button.close-button:hover {
  background-color: #d4e3ff;
}
.notification .content {
  margin: 0.7em;
}
.notification .content .title {
  font-size: 15px;
  font-weight: 600;
}
.notification .content .time {
  font-size: 15px;
  font-weight: 600;
  color: rgba(25, 28, 32, 0.8);
}
.notification .content .description {
  min-width: 300px;
  margin-top: 0.5em;
  font-size: 0.9em;
  font-style: italic;
  color: rgba(25, 28, 32, 0.8);
}
.notification .content .icon {
  margin-right: 10px;
}

.actions {
  margin: 0.7em;
  margin-bottom: 0.7em;
  margin-top: 5px;
}
.actions button {
  border-radius: 0px 0px 0px 0px;
  padding: 4px;
  margin: 0px 6px;
  background-color: #f9f9ff;
  font-size: 1.2em;
}
.actions button:hover {
  background-color: #d4e3ff;
}
.actions button:first-child {
  margin-left: 0;
}
.actions button:last-child {
  margin-right: 0;
}

.osd {
  background-color: rgba(249, 249, 255, 0.7);
  border-radius: 0px 0px 0px 0px;
}
.osd.regular {
  margin: 12px 12px 75px 12px;
  min-width: 90px;
  padding: 8px;
  color: #191c20;
}
.osd.regular label {
  font-weight: 600;
}
.osd.progress {
  margin: 12px 12px 24px 12px;
  padding: 4px;
}
.osd.progress .vertical scale trough {
  min-height: 230px;
  min-width: 40px;
  border-radius: 0px 0px 0px 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.osd.progress .vertical scale trough highlight {
  background-color: #3d5f90;
  border-radius: 0px 0px 0px 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.osd.progress .vertical .icon {
  color: #f9f9ff;
  background-color: #3d5f90;
  border-radius: 0px 0px 0px 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.osd.progress .horizontal scale trough {
  min-height: 40px;
  min-width: 230px;
  border-radius: 0px 0px 0px 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.osd.progress .horizontal scale trough highlight {
  background-color: #3d5f90;
  border-radius: 0px 0px 0px 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.osd.progress .horizontal .icon {
  color: #f9f9ff;
  background-color: #3d5f90;
  border-radius: 0px 0px 0px 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.osd.progress .fill {
  background-color: #3d5f90;
  border-radius: 0px 0px 0px 0px;
}
.osd.progress .progress {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0px 0px 0px 0px;
}

.powermenu__container {
  padding: 10px;
}
.powermenu__container button {
  background-color: #ffffff;
}
.powermenu__container button:focus {
  background-color: #3d5f90;
  color: #ffffff;
}
.powermenu__container button:focus:hover {
  background-color: #3d5f90;
  color: #d4e3ff;
}
.powermenu__container button:hover {
  background-color: #d4e3ff;
}
.powermenu__container button .system-button {
  border-radius: 0px 0px 0px 0px;
  padding: 25px;
}
.powermenu__container button .system-button image {
  font-size: 50px;
}
.powermenu__container button .system-button label {
  margin-top: 6px;
}

.verification__container {
  padding: 10px;
}
.verification__container .text-box .title {
  font-size: 28px;
  font-weight: 600;
}
.verification__container .text-box .desc {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 500;
}
.verification__container .buttons {
  margin-top: 10px;
}
.verification__container .buttons button {
  background-color: #ffffff;
  padding: 10px 40px;
}
.verification__container .buttons button:focus {
  background-color: #3d5f90;
  color: #ffffff;
}
.verification__container .buttons button:focus:hover {
  background-color: #3d5f90;
  color: #d4e3ff;
}
.verification__container .buttons button:hover {
  background-color: #d4e3ff;
}

.system-monitor__container {
  padding: 10px;
  padding-top: 0px;
  border-radius: 0px 0px 0px 0px;
  margin: 0px 12px 12px 12px;
  margin-bottom: 80px;
}
.system-monitor__container .day-dots .fill {
  min-height: 15px;
  min-width: 15px;
  border-radius: 0px 0px 0px 0px;
  background-color: #3d5f90;
  border: solid 1px #3d5f90;
}
.system-monitor__container .day-dots .empty {
  min-width: 15px;
  min-height: 15px;
  border-radius: 0px 0px 0px 0px;
  border: solid 1px #3d5f90;
}
.system-monitor__container .day {
  font-size: 50px;
  font-family: "Roboto Condensed";
  font-weight: 600;
  color: #3d5f90;
  margin-bottom: 8px;
}
.system-monitor__container .day-number {
  font-size: 30px;
  font-family: "Roboto Condensed";
  font-weight: 600;
  color: rgba(25, 28, 32, 0.8);
}
.system-monitor__container .month {
  font-size: 28px;
  font-family: "Dancing Script";
  color: rgba(25, 28, 32, 0.8);
}
.system-monitor__container .cpu-box {
  min-width: 120px;
}
.system-monitor__container .label {
  font-size: 14px;
  color: #191c20;
}
.system-monitor__container separator {
  min-height: 2px;
  background-color: #3d5f90;
}
.system-monitor__container .value {
  font-weight: 600;
  font-size: 16px;
  color: #191c20;
}
.system-monitor__container .progress {
  min-width: 55px;
  min-height: 55px;
  font-size: 8px;
  margin: 4px;
  background-color: #ffffff;
  color: #3d5f90;
}
.system-monitor__container .progress box {
  min-height: 55px;
  min-width: 55px;
  background-color: #ffffff;
  margin: 14px;
  border-radius: 99px;
}
.system-monitor__container .progress image {
  font-size: 16px;
  margin: 5px;
  margin-left: 6px;
}

.wallpaper-picker__container .item {
  padding: 10px;
}
.wallpaper-picker__container .entry-box {
  margin: 10px;
  margin-right: 0px;
}
.wallpaper-picker__container .path {
  margin-left: 10px;
  font-size: 12px;
  font-style: italic;
}
.wallpaper-picker__container .folder-button {
  background-color: #ffffff;
  padding: 0px 10px;
  margin: 10px 0px;
  margin-right: 10px;
}
.wallpaper-picker__container .folder-button:hover {
  background-color: #d4e3ff;
}

popover {
  background-color: #f9f9ff;
  color: #191c20;
}
popover > * > * {
  padding: 6px;
}

dialog {
  background-color: rgba(249, 249, 255, 0.7);
  color: #191c20;
}
dialog .dialog-action-box {
  background-color: rgba(249, 249, 255, 0.7);
}
dialog .dialog-action-box button {
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid #3d5f90;
}
dialog scrolledwindow treeview {
  padding: 6px;
  color: #191c20;
}
dialog scrolledwindow treeview:disabled {
  color: rgba(25, 28, 32, 0.5);
}
dialog scrolledwindow treeview:selected {
  background-color: #3d5f90;
  color: #f9f9ff;
}
dialog scrolledwindow treeview button {
  padding: 10px;
}
dialog #pathbarbox stack .popup.toggle {
  padding: 10px;
}
dialog #pathbarbox stack .linked.path-bar button {
  background-color: rgba(249, 249, 255, 0.8);
  border-left: 0.25px solid rgba(25, 28, 32, 0.2);
  border-right: 0.25px solid rgba(25, 28, 32, 0.6);
  color: #191c20;
  padding: 10px;
}
dialog #pathbarbox stack .linked.path-bar button:checked {
  background-color: rgba(61, 95, 144, 0.8);
  color: #f9f9ff;
}
dialog #pathbarbox stack .linked.path-bar button:hover {
  background-color: rgba(212, 227, 255, 0.7);
  color: #191c20;
}
dialog placessidebar {
  background-color: rgba(249, 249, 255, 0.7);
}
dialog placessidebar row {
  padding: 10px;
}
dialog placessidebar row:selected {
  background-color: #3d5f90;
  color: #f9f9ff;
}
dialog placessidebar row:selected:hover {
  color: #191c20;
}
dialog placessidebar row:hover {
  background-color: #d4e3ff;
}
dialog placessidebar row image {
  padding-right: 10px;
}

.workspace__container {
  background-color: #ffffff;
  color: #191c20;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  border-radius: 0px 0px 0px 0px;
  padding-left: 6px;
  padding-right: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.workspace__container .workspace-button {
  min-height: 10px;
  min-width: 10px;
  border: solid 2px #191c20;
  border-radius: 0px 0px 0px 0px;
  padding: 2px;
}
.workspace__container .workspace-button .fill {
  border-radius: 0px 0px 0px 0px;
}
.workspace__container .workspace-button:hover {
  border-color: #3d5f90;
}
.workspace__container .workspace-button.active {
  border-color: #3d5f90;
}
.workspace__container .workspace-button.active .fill {
  min-width: 35px;
}
.workspace__container .workspace-button.occupied:hover .fill {
  background-color: #3d5f90;
}
.workspace__container .workspace-button.occupied .fill {
  background-color: #191c20;
}
.workspace__container .workspace-button.occupied.active .fill {
  background-color: #3d5f90;
}

/*# sourceMappingURL=style.css.map */
