window {
  background-color: transparent; }

* {
  font-size: 15px;
  font-family: "Ubuntu Nerd Font", sans-serif; }

/*
WILL DELETE */
/*
WILL DELETE */
#notification-center .notification__center {
  min-height: 350px;
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 #1a1b26;
  background-color: rgba(26, 27, 38, 0.7);
  color: #c6d4d9; }
  #notification-center .notification__center .notification > * {
    margin: 6px;
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(26, 27, 38, 0.7);
    box-shadow: inset 0 0 0 1.5px rgba(198, 212, 217, 0.2); }
  #notification-center .notification__center .list {
    margin: 8px;
    min-width: 380px; }
  #notification-center .notification__center .header {
    padding: 8px 15px;
    border-bottom: 1px solid rgba(198, 212, 217, 0.3); }
    #notification-center .notification__center .header label {
      font-weight: 600;
      margin-right: 8px; }
  #notification-center .notification__center .placeholder image {
    font-size: 8em; }
  #notification-center .notification__center .placeholder label {
    font-size: 1.4em; }

#notifications-popup .notification > * {
  padding: 8px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 #1a1b26;
  background-color: rgba(26, 27, 38, 0.7);
  color: #c6d4d9; }

#notifications-popup *,
#notification-center * {
  outline: none;
  color: #c6d4d9; }

.notification button {
  border: none;
  box-shadow: none;
  border-radius: 7px;
  background-color: rgba(198, 212, 217, 0.1); }
  .notification button:hover, .notification button:active {
    background-color: rgba(198, 212, 217, 0.3); }

.notification .icon {
  border-radius: 7px;
  margin-right: 8px; }

.notification .close-button {
  padding: 0;
  margin: 0;
  min-height: 1.4em;
  min-width: 1.4em;
  border-radius: 1em; }

.notification .title {
  font-size: 1.1em;
  font-weight: 600; }

.notification .description {
  min-width: 250px; }

.notification .time {
  font-weight: 600;
  margin: 0 6px; }

.notification .action-button {
  margin: 0 4px; }

.notification .action-button:first-child {
  margin-left: 0; }

.notification .action-button:last-child {
  margin-right: 0; }

.notification .action-button:last-child:first-child {
  margin: 0; }

.bar .panel__container {
  margin: 0 10px;
  margin-bottom: 2px; }
  .bar .panel__container .bar__separator {
    background-color: rgba(198, 212, 217, 0.4);
    min-width: 1px;
    margin: 8px 4px 6px 4px; }
  .bar .panel__container .left,
  .bar .panel__container .right {
    background-color: rgba(26, 27, 38, 0.7);
    border-radius: 0 0 8px 8px;
    padding: 0 4px 4px 4px; }
  .bar .panel__container .center {
    background-color: rgba(26, 27, 38, 0.7);
    border-radius: 0 0 8px 8px;
    padding: 0 4px 4px 4px;
    margin: 0 10px; }
  .bar .panel__container .panel-button {
    background-color: transparent;
    color: #c6d4d9;
    border-radius: 0 0 8px 8px;
    padding: 2px 4px; }
    .bar .panel__container .panel-button.lockkeys.active {
      background-color: transparent;
      color: #c6d4d9;
      font-size: 24px;
      background-image: none; }
    .bar .panel__container .panel-button:hover {
      background-color: rgba(198, 212, 217, 0.1); }
    .bar .panel__container .panel-button.active {
      background-image: linear-gradient(to right, #93abe6, #bccbf0);
      color: #1a1b26; }

#datemenu .datemenu__popup {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 #1a1b26;
  background-color: rgba(26, 27, 38, 0.7);
  color: #c6d4d9; }
  #datemenu .datemenu__popup .clock {
    font-size: 40px; }
  #datemenu .datemenu__popup label {
    font-weight: 600; }
  #datemenu .datemenu__popup .calendar {
    margin-top: 20px;
    background-color: rgba(198, 212, 217, 0.05);
    padding: 8px;
    border-radius: 8px; }
    #datemenu .datemenu__popup .calendar calendar {
      font-weight: 600;
      color: #c6d4d9;
      background-color: transparent;
      border-color: transparent; }
      #datemenu .datemenu__popup .calendar calendar:selected {
        background-image: linear-gradient(to right, #93abe6, #bccbf0);
        color: rgba(26, 27, 38, 0.7);
        border-radius: 6px; }
      #datemenu .datemenu__popup .calendar calendar.header {
        background-color: transparent;
        border: none;
        color: #c6d4d9; }
      #datemenu .datemenu__popup .calendar calendar.highlight {
        background-color: transparent;
        color: #93abe6; }
      #datemenu .datemenu__popup .calendar calendar:indeterminate {
        color: rgba(198, 212, 217, 0.1); }

.workspaces__panel .eventbox button .indicator {
  border-color: #c6d4d9;
  border-width: 2px;
  border-style: solid;
  border-radius: 99px; }

.workspaces__panel .eventbox button.active .indicator {
  border-color: #93abe6; }

.workspaces__panel button {
  background-color: transparent;
  padding: 0 1px; }
  .workspaces__panel button.active .indicator .fill {
    min-width: 40px; }
  .workspaces__panel button .indicator .fill {
    margin: 2px;
    min-width: 8px;
    min-height: 8px;
    border-radius: 99px; }
  .workspaces__panel button.occupied .indicator .fill {
    background-color: #c6d4d9; }
  .workspaces__panel button.occupied.active .indicator .fill {
    background-image: linear-gradient(to right, #93abe6, #bccbf0); }
  .workspaces__panel button.occupied:hover .indicator .fill {
    background-image: linear-gradient(to right, #93abe6, #bccbf0); }
  .workspaces__panel button:hover {
    background-color: transparent; }
    .workspaces__panel button:hover .indicator {
      border-color: #93abe6; }

.quicksettings__panel .battery {
  margin-right: 4px;
  margin-left: 8px; }
  .quicksettings__panel .battery.low {
    color: #f7768e; }
  .quicksettings__panel .battery.charged, .quicksettings__panel .battery.charging {
    color: #9ece6a; }

.quicksettings__panel .network {
  margin-right: 4px;
  margin-left: 8px; }

.quicksettings__panel .speaker {
  margin-left: 4px; }

.quicksettings__panel .network-speed .speed {
  font-size: 12px; }

.quicksettings__panel .network-speed .unit {
  font-size: 10px;
  margin-right: 3px; }

.quicksettings__popup {
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 #1a1b26;
  background-color: rgba(26, 27, 38, 0.7);
  color: #c6d4d9;
  padding: 15px;
  padding-top: 10px;
  min-width: 300px; }
  .quicksettings__popup button {
    all: unset;
    padding: 2px;
    border-radius: 4px; }
    .quicksettings__popup button label {
      font-size: 15px; }
  .quicksettings__popup .separator {
    min-height: 1px;
    margin-top: 6px;
    margin-bottom: 2px;
    background-color: rgba(198, 212, 217, 0.4); }
  .quicksettings__popup overlay .toggle-arrow {
    all: unset;
    margin: 5px 0;
    min-height: 55px;
    border-radius: 8px;
    background-color: rgba(198, 212, 217, 0.1); }
    .quicksettings__popup overlay .toggle-arrow label {
      font-weight: 500; }
    .quicksettings__popup overlay .toggle-arrow * {
      color: #c6d4d9; }
    .quicksettings__popup overlay .toggle-arrow box image {
      margin: 0 10px;
      font-size: 25px; }
    .quicksettings__popup overlay .toggle-arrow box label {
      font-size: 15px; }
    .quicksettings__popup overlay .toggle-arrow box box .secondlabel {
      font-weight: 400;
      font-size: 12.5px; }
    .quicksettings__popup overlay .toggle-arrow box box .label {
      font-size: 18px; }
  .quicksettings__popup overlay .arrow {
    color: #c6d4d9;
    background-color: rgba(198, 212, 217, 0.1);
    border-radius: 100%;
    margin-right: 10px;
    padding: 6px; }
  .quicksettings__popup overlay.active .toggle-arrow {
    background-image: linear-gradient(to right, #93abe6, #bccbf0); }
    .quicksettings__popup overlay.active .toggle-arrow * {
      color: #1a1b26; }
  .quicksettings__popup overlay.active .arrow {
    color: #1a1b26;
    background-color: rgba(26, 27, 38, 0.1); }
  .quicksettings__popup scale {
    margin-left: 6px; }
    .quicksettings__popup scale trough {
      border-radius: 99px; }
      .quicksettings__popup scale trough highlight {
        background-image: linear-gradient(to right, #93abe6, #bccbf0);
        border-radius: 99px;
        min-height: 15px; }
      .quicksettings__popup scale trough slider {
        background-color: #c6d4d9; }
  .quicksettings__popup .sysbutton-box {
    margin-top: 10px; }
    .quicksettings__popup .sysbutton-box button {
      border-radius: 99px;
      padding: 4px;
      background-color: rgba(198, 212, 217, 0.1); }
      .quicksettings__popup .sysbutton-box button:hover {
        background-color: rgba(198, 212, 217, 0.2); }
    .quicksettings__popup .sysbutton-box .power-profile {
      border-radius: 99px; }
      .quicksettings__popup .sysbutton-box .power-profile.performance {
        background-color: rgba(158, 206, 106, 0.1);
        color: #9ece6a; }
      .quicksettings__popup .sysbutton-box .power-profile.power-saver {
        background-color: rgba(219, 75, 75, 0.1);
        color: #db4b4b; }
      .quicksettings__popup .sysbutton-box .power-profile.balanced {
        background-color: rgba(187, 154, 247, 0.1);
        color: #bb9af7; }
    .quicksettings__popup .sysbutton-box .app-mixer {
      background-color: rgba(255, 158, 100, 0.1);
      color: #ff9e64; }
    .quicksettings__popup .sysbutton-box .shutdown {
      margin: 0 4px;
      background-color: rgba(247, 118, 142, 0.1);
      color: #f7768e; }
  .quicksettings__popup .submenu {
    background-color: rgba(198, 212, 217, 0.05);
    margin-top: 10px;
    border-radius: 8px;
    border-color: transparent;
    padding: 8px; }
    .quicksettings__popup .submenu .title image {
      margin-right: 5px;
      font-weight: 600; }
    .quicksettings__popup .submenu .title label {
      font-weight: 600; }
    .quicksettings__popup .submenu .content {
      margin-top: 2px; }
      .quicksettings__popup .submenu .content image {
        margin-right: 5px; }
      .quicksettings__popup .submenu .content button:hover {
        background-color: rgba(198, 212, 217, 0.2); }
  .quicksettings__popup .volume-box {
    font-weight: 500;
    min-height: 0;
    border-radius: 8px;
    color: #c6d4d9; }
    .quicksettings__popup .volume-box .speakertype {
      background-image: linear-gradient(to right, #93abe6, #bccbf0);
      color: #1a1b26;
      border-radius: 4px;
      min-height: 0;
      margin: 10px 0;
      padding: 4px; }
      .quicksettings__popup .volume-box .speakertype:hover {
        background-image: linear-gradient(to right, #93abe6, #e6ebf9); }
    .quicksettings__popup .volume-box button {
      color: #c6d4d9;
      min-height: 0; }
      .quicksettings__popup .volume-box button:hover {
        border-radius: 4px;
        background-color: rgba(198, 212, 217, 0.2); }
    .quicksettings__popup .volume-box .menu {
      background-color: rgba(198, 212, 217, 0.05);
      border-radius: 8px;
      border-color: transparent;
      margin: 0; }
      .quicksettings__popup .volume-box .menu label {
        font-weight: 500; }
      .quicksettings__popup .volume-box .menu image {
        margin-right: 4px; }
  .quicksettings__popup .brightness {
    margin: 0; }
    .quicksettings__popup .brightness button {
      background-image: linear-gradient(to right, #93abe6, #bccbf0);
      color: #1a1b26;
      border-radius: 4px;
      min-height: 0;
      margin: 10px 0;
      padding: 4px; }
      .quicksettings__popup .brightness button:hover {
        background-image: linear-gradient(to right, #93abe6, #e6ebf9); }
    .quicksettings__popup .brightness scale {
      margin-right: 20.5px;
      margin-left: 4px; }

window#powermenu .shader,
window#verification .shader {
  min-width: 4000px;
  min-height: 4000px;
  background-color: rgba(0, 0, 0, 0.05); }

.powermenu {
  background-color: rgba(26, 27, 38, 0.7);
  padding: 20px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #c6d4d9; }
  .powermenu label {
    font-weight: 500; }
  .powermenu button {
    all: unset;
    padding: 25px; }
    .powermenu button:hover {
      background-color: rgba(198, 212, 217, 0.2); }
  .powermenu > * image {
    font-size: 70px; }
  .powermenu .sleep {
    color: #93abe6;
    background-color: rgba(147, 171, 230, 0.2);
    border-radius: 6px; }
    .powermenu .sleep:focus {
      background-color: #93abe6;
      color: #1a1b26; }
  .powermenu .logout {
    color: #e0af68;
    background-color: rgba(224, 175, 104, 0.2);
    border-radius: 6px;
    margin-left: 2px;
    margin-right: 4px; }
    .powermenu .logout:focus {
      background-color: #e0af68;
      color: #1a1b26; }
  .powermenu .reboot {
    color: #9ece6a;
    background-color: rgba(158, 206, 106, 0.2);
    border-radius: 6px;
    margin-left: 4px;
    margin-right: 2px; }
    .powermenu .reboot:focus {
      background-color: #9ece6a;
      color: #1a1b26; }
  .powermenu .shutdown {
    color: #f7768e;
    background-color: rgba(247, 118, 142, 0.2);
    border-radius: 6px; }
    .powermenu .shutdown:focus {
      background-color: #f7768e;
      color: #1a1b26; }

.verification {
  background-color: rgba(26, 27, 38, 0.7);
  padding: 10px;
  min-width: 250px;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #c6d4d9;
  color: #c6d4d9; }
  .verification * {
    font-weight: 500; }
  .verification .title {
    font-size: 25px; }
  .verification .desc {
    margin-bottom: 10px;
    font-size: 20px; }
  .verification .no {
    margin-right: 3px; }
    .verification .no:hover, .verification .no:focus {
      background-color: #93abe6;
      color: #1a1b26; }
  .verification .yes {
    margin-left: 3px; }
    .verification .yes:hover, .verification .yes:focus {
      background-color: #f7768e;
      color: #1a1b26; }
  .verification button {
    border-radius: 8px;
    font-size: 20px;
    background-color: rgba(198, 212, 217, 0.1); }

window.indicator .progress {
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 #1a1b26;
  background-color: rgba(26, 27, 38, 0.7);
  color: #c6d4d9;
  padding: 4px;
  border-radius: 99px; }
  window.indicator .progress .fill {
    border-radius: 99px;
    background-image: linear-gradient(to right, #93abe6, #bccbf0);
    color: #1a1b26; }
    window.indicator .progress .fill image {
      padding-top: 5px;
      -gtk-icon-transform: scale(0.7); }
    window.indicator .progress .fill .font-icon {
      font-size: 34px; }

.applauncher {
  padding: 10px 0;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 6px 0 #1a1b26;
  background-color: rgba(26, 27, 38, 0.7);
  color: #c6d4d9; }
  .applauncher scrolledwindow {
    padding-top: 10px;
    min-width: 400px;
    min-height: 300px; }
  .applauncher .separator {
    min-height: 1px;
    margin: 4px 0;
    background-color: rgba(198, 212, 217, 0.1); }
  .applauncher .listbox {
    margin: 0 10px; }
  .applauncher .search-box {
    margin: 0 10px;
    margin-bottom: 0;
    border-radius: 8px;
    background-color: rgba(198, 212, 217, 0.05);
    padding: 0 10px; }
    .applauncher .search-box image {
      margin-right: 0px;
      font-size: 24px;
      padding-right: 10px;
      font-weight: 600;
      color: #c6d4d9; }
    .applauncher .search-box entry {
      all: unset;
      border-radius: 8px;
      color: #c6d4d9;
      min-height: 40px;
      font-size: 20px;
      font-weight: 600;
      background-color: transparent; }
  .applauncher .app {
    background-color: transparent; }
    .applauncher .app .description {
      color: rgba(198, 212, 217, 0.6);
      font-weight: 400;
      font-size: 13px; }
    .applauncher .app box image {
      margin-right: 10px; }
    .applauncher .app:focus {
      border-radius: 4px;
      background-color: rgba(147, 171, 230, 0.4); }
    .applauncher .app:hover {
      border-radius: 4px; }
      .applauncher .app:hover .title {
        color: #93abe6; }
