@mixin bar() {
  background-color: $bg_color;
  border-radius: 0 0 8px 8px;
  padding: 0 4px 4px 4px;
}

.bar .panel__container {
  margin: 0 10px;
  margin-bottom: 2px;

  .bar__separator {
    background-color: transparentize($color: $fg_color, $amount: 0.6);
    min-width: 1px;
    margin: 8px 4px 6px 4px;
  }

  .left,
  .right {
    @include bar();
  }

  .center {
    @include bar();
    margin: 0 10px;
  }

  .panel-button {
    background-color: transparent;
    color: $fg_color;
    border-radius: 0 0 8px 8px;
    padding: 2px 4px;

    &.lockkeys.active {
      background-color: transparent;
      color: $fg_color;
      font-size: 24px;
      background-image: none;
    }

    &:hover {
      background-color: transparentize($color: $fg_color, $amount: 0.9);
    }

    &.active {
      @include accent();
      color: $base;
    }
  }
}
