$color_1: white;
$color_2: rgba(255, 255, 255, 0.7);
$background-color_1: transparent;
$background-color_2: #232323;
$background-color_3: rgba(255, 255, 255, 0.1);
$background-color_4: rgba(255, 255, 255, 0.2);
$background-color_5: rgba(255, 255, 255, 0.3);
$background-color_6: #141414;

#notification-popup {
  min-width: 0;
  min-height: 0;
  .notification {
    > * {
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    }
  }
  * {
    outline: none;
    color: $fg_color;
  }
}

#notification-center {
  .notification > * {
    background-color: transparentize($color: $fg_color, $amount: 0.9);
  }
  * {
    outline: none;
    color: $fg_color;
  }

  .notificationcenter__popup {
    min-height: 400px;
    margin: 10px;
    background-color: $bg_color;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px $fg_color;
  }
}

.notification {
  > * {
    margin: 4px;
    padding: 8px;
    border-radius: 15px;
    // background-color: transparentize($color: $fg_color, $amount: 0.9);
    background-color: $bg_color;
    // box-shadow: inset 0 0 0 1px $fg_color;
  }
  .icon {
    border-radius: 7px;
    margin-right: 8px;
  }
  .close-button {
    padding: 0;
    margin: 0;
    min-height: 1.4em;
    min-width: 1.4em;
    border-radius: 1em;
  }
  .title {
    font-size: 1.5em;
    color: $fg_color;
  }
  .description {
    color: transparentize($color: $fg_color, $amount: 0.2);
  }
}
.list {
  margin: 8px;
  min-width: 380px;
}
.action-button {
  border-radius: 4px;
  margin: 0 4px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
    &:first-child {
      margin: 0;
    }
  }
}
.header {
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 10px;
  color: $fg_color;

  .label {
    margin-right: 10px;
  }

  button {
    border-radius: 4px;
  }
}
.placeholder {
  image {
    font-size: 8em;
  }
  label {
    font-size: 1.4em;
  }
}
