window.indicator .progress {
  // @include floating_widget;
  // margin: 10px;
  @include popupwindow();
  padding: 4px;
  // background-color: $bg_color;
  border-radius: 99px;

  .fill {
    border-radius: 99px;
    @include accent();
    color: $base;

    image {
      padding-top: 5px;
      -gtk-icon-transform: scale(0.7);
    }

    .font-icon {
      font-size: 34px;
    }
  }
}
