.workspaces__panel {
  .eventbox {
    button {
      .indicator {
        border-color: $fg_color;
        border-width: 2px;
        border-style: solid;
        border-radius: 99px;
      }

      &.active {
        .indicator {
          border-color: $accent;
        }
      }
    }
  }

  button {
    background-color: transparent;
    padding: 0 1px;

    &.active {
      .indicator .fill {
        min-width: 40px;
      }
    }

    .indicator .fill {
      margin: 2px;
      min-width: 8px;
      min-height: 8px;
      border-radius: 99px;
    }

    &.occupied {
      .indicator .fill {
        background-color: $fg_color;
      }

      &.active .indicator .fill {
        @include accent();
      }

      &:hover .indicator .fill {
        @include accent();
      }
    }

    &:hover {
      background-color: transparent;
      .indicator {
        border-color: $accent;
      }
    }
  }
}
