$background: #11140f;
$error: #ffb4ab;
$error_container: #93000a;
$inverse_on_surface: #2e312b;
$inverse_primary: #446832;
$inverse_surface: #e1e4d9;
$on_background: #e1e4d9;
$on_error: #690005;
$on_error_container: #ffdad6;
$on_primary: #163808;
$on_primary_container: #c4efac;
$on_primary_fixed: #062100;
$on_primary_fixed_variant: #2d4f1d;
$on_secondary: #283421;
$on_secondary_container: #d8e7cb;
$on_secondary_fixed: #131f0d;
$on_secondary_fixed_variant: #3e4a36;
$on_surface: #e1e4d9;
$on_surface_variant: #c3c8bb;
$on_tertiary: #003738;
$on_tertiary_container: #bbebec;
$on_tertiary_fixed: #002021;
$on_tertiary_fixed_variant: #1e4e4f;
$outline: #8d9287;
$outline_variant: #43483e;
$primary: #a9d292;
$primary_container: #2d4f1d;
$primary_fixed: #c4efac;
$primary_fixed_dim: #a9d292;
$scrim: #000000;
$secondary: #bccbb0;
$secondary_container: #bccbb0;
$secondary_fixed: #d8e7cb;
$secondary_fixed_dim: #bccbb0;
$shadow: #000000;
$surface: #11140f;
$surface_bright: #373a33;
$surface_container: #1d211a;
$surface_container_high: #282b24;
$surface_container_highest: #32362f;
$surface_container_low: #191d16;
$surface_container_lowest: #0c0f0a;
$surface_dim: #11140f;
$surface_variant: #43483e;
$tertiary: #a0cfd0;
$tertiary_container: #1e4e4f;
$tertiary_fixed: #bbebec;
$tertiary_fixed_dim: #a0cfd0;
