$background: #fff8f6;
$error: #ba1a1a;
$error_container: #ffdad6;
$inverse_on_surface: #ffede8;
$inverse_primary: #ffb5a0;
$inverse_surface: #392e2b;
$on_background: #231917;
$on_error: #ffffff;
$on_error_container: #410002;
$on_primary: #ffffff;
$on_primary_container: #3a0b01;
$on_primary_fixed: #3a0b01;
$on_primary_fixed_variant: #723523;
$on_secondary: #ffffff;
$on_secondary_container: #2c150f;
$on_secondary_fixed: #2c150f;
$on_secondary_fixed_variant: #5d4037;
$on_surface: #231917;
$on_surface_variant: #53433f;
$on_tertiary: #ffffff;
$on_tertiary_container: #231b00;
$on_tertiary_fixed: #231b00;
$on_tertiary_fixed_variant: #534619;
$outline: #85736e;
$outline_variant: #d8c2bc;
$primary: #8f4c38;
$primary_container: #ffdbd1;
$primary_fixed: #ffdbd1;
$primary_fixed_dim: #ffb5a0;
$scrim: #000000;
$secondary: #77574e;
$secondary_container: #77574e;
$secondary_fixed: #ffdbd1;
$secondary_fixed_dim: #e7bdb2;
$shadow: #000000;
$source_color: #e49984;
$surface: #fff8f6;
$surface_bright: #fff8f6;
$surface_container: #fceae5;
$surface_container_high: #f7e4e0;
$surface_container_highest: #f1dfda;
$surface_container_low: #fff1ed;
$surface_container_lowest: #ffffff;
$surface_dim: #e8d6d2;
$surface_variant: #f5ded8;
$tertiary: #6c5d2f;
$tertiary_container: #f6e1a6;
$tertiary_fixed: #f6e1a6;
$tertiary_fixed_dim: #d9c58d;
