* {
  all: unset;
  font-size: 14px;
  font-family: "Ubuntu Nerd Font";
}

.window-content {
  margin: $window_margin;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: $border-radius;
  background-color: $background_color;
  color: $on_background;
  border: if($window_border,
      1px solid transparentize($on_background, 0.7),
      none);
}

.entry-box {
  border-radius: $border_radius;
  padding: 0px 8px;
  min-height: 35px;
  background-color: $primary;
  color: $background;
  font-weight: 600;

  image {
    color: $background;
    font-size: 16px;
  }

  entry {
    padding-left: 10px;
  }
}

scrolledwindow {
  .item {
    background-color: $on_secondary;
    padding: 4px;
    color: $on_background;
    margin-left: 10px;
    margin-right: 10px;

    image {
      padding-right: 6px;
    }

    &:last-child {
      margin-bottom: 10px;
    }

    .checkmark {
      color: $primary;
    }

    &:hover {
      background-color: $primary_container;
    }

    &:active {
      background-color: transparent;
    }

    &:focus {
      background-color: $primary;
      color: $background;

      label {
        color: $background;
      }
    }
  }
}

button {
  font-weight: 600;
  border-radius: $border_radius;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

  &:hover {
    background-color: $primary_container;
  }
}

.panel-button {
  .panel-control-center {
    &.empty {
      color: transparentize($color: $on_background, $amount: 0.6);
    }
  }

  .panel-battery.charging {
    color: $primary;
  }

  &.active {
    .panel-battery {
      color: $background;
    }

    .panel-control-center.empty {
      color: $background;
    }
  }

  .timer.vert {
    font-size: 12px;
  }

  background-color: transparentize(if($dark_mode, $background, $on_secondary),
    1-$bar_button_opacity );
  color: $on_background;
  padding: $panel_button_padding;
  font-weight: 600;
  // border-radius: divide-each($bar_border_radius, 1.5);
  border-radius: $bar_button_border_radius;
  // margin: $bar_padding;
  // margin-top: nth($list: $bar_padding, $n: 1);
  // margin-bottom: nth($list: $bar_padding, $n: 3);
  box-shadow: if($bar_button_shadow, 1px 1px 2px rgba(0, 0, 0, 0.4), none);

  &:hover {
    background-color: $primary_container;
  }

  &.active {
    background-color: $primary;
    color: $background;
  }
}

.toggle-button {
  background-color: $on_secondary;
  color: $on_background;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: divide-each($border_radius, 1.5);

  &:hover {
    background-color: $primary_container;
  }

  .icon {
    margin-right: 8px;
  }

  button {
    box-shadow: unset;
    border-radius: divide-each($border_radius, 1.5);
    padding: 10px;

    &:first-child {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    &:last-child {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    &:hover {
      background-color: $primary_container;
    }
  }

  &.active {
    background-color: $primary;
    color: $background;

    button:hover {
      background-color: transparent;
    }
  }
}

.menu {
  background-color: $on_secondary;
  margin: 0px 10px;
  min-width: 280px;
  border-radius: $border_radius;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  .title-box {
    margin: 10px;
    margin-bottom: 8px;

    .icon {
      margin-right: 6px;
    }

    .title {
      font-size: 15px;
      font-weight: 600;
    }
  }

  .content.vertical {
    margin: 8px 0px;

    >*:first-child>* {
      image {
        margin-right: 6px;
      }

      &:first-child {
        margin-top: 0px;
      }

      &:last-child {
        margin-bottom: 0px;
      }

      margin: 3px 10px;
      border: 1px solid transparentize($color: $on_background, $amount: 0.8);
      box-shadow: unset;
      padding: 6px;
      border-radius: divide-each($border_radius, 2);
    }
  }
}

separator {
  min-height: 1px;
  background-color: transparentize($color: $on_background, $amount: 0.8);
}

scale {
  border-radius: $border_radius;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

  trough {
    background-color: transparentize($color: $on_secondary, $amount: 0.3);

    border-radius: $border_radius;
    min-height: 20px;

    highlight {
      background-color: $primary;
      border-radius: $border_radius;
    }
  }
}

scrollbar {
  background-color: $on_secondary;
  border-radius: divide-each($border_radius, 2);

  slider {
    min-width: 6px;
    border-radius: divide-each($border_radius, 2);
    background-color: $primary;
  }
}

levelbar {
  trough {
    box-shadow: 1px 1px 2px transparentize($color: rgb(0, 0, 0), $amount: 0.7);
    border-radius: $border_radius;

    block {
      &:first-child {
        border-radius: $border_radius;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      &:last-child {
        border-radius: $border_radius;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }

      &.empty {
        background-color: $on_secondary;
      }

      &.filled {
        background-color: $primary;
      }
    }
  }
}

menuitem {
  background-color: $on_secondary;
  border-radius: divide-each($border_radius, 1.6);
  margin: 4px 6px;
  padding: 4px 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: $primary_container;
  }

  &:first-child {
    margin-top: 6px;
  }

  &:last-child {
    margin-bottom: 6px;
  }

  label {
    font-size: 13px;
    font-weight: 500;
  }
}

menu {
  background-color: $background;
  border-radius: divide-each($border_radius, 1.5);
  color: $on_background;
}

.splash-text {
  font-size: 14px;
  color: $on_background;
  font-weight: 600;
}

tooltip {
  background-color: $background;
  color: $on_background;
  border-radius: divide-each($border_radius, 2);
}

switch {
  background-color: transparentize($color: $on_background, $amount: 0.8);
  border-radius: $border_radius;
  color: transparent;

  slider {
    background-color: $primary;
    border-radius: $border_radius;
    min-width: 12px;
  }
}
