@function divide-each($value, $divider) {
  $new-value: (
  );

@each $e in $value {
  $new-value: append($new-value, $e / $divider);
}

@return $new-value;
}

//transparentize
$background_color: transparentize($background, 1-$window_opacity);
