$margin: 0px 12px 12px 12px;
$border_radius: 0px 0px 0px 0px ;
$bar_border_radius: 0px 0px 0px 0px ;
$bar_margin: 12px 12px 12px 12px;
$workspace_active_width: 35px;
$dark_mode: false;
$osd_regular_margin: 12px 12px 75px 12px;
$osd_progress_margin: 12px 12px 24px 12px;
