$margin: 0px 12px 12px 12px;
$border_radius: 10px 10px 10px 10px;
$bar_border_radius: 6px 6px 6px 6px ;
$bar_margin: 12px 12px 12px 12px;
$workspace_active_width: 30px;
$dark_mode: true;
$osd_regular_margin: 12px 12px 70px 12px;
$osd_progress_margin: 12px 12px 24px 12px;
