$window_margin: 0px 12px 12px 12px ;
$border_radius: 8px 8px 8px 8px ;
$bar_border_radius: 8px 8px 8px 8px ;
$bar_margin: 12px 12px 12px 12px ;
$workspace_active_width: 35px;
$dark_mode: true;
$osd_regular_margin: 0px 12px 12px 12px;
$osd_progress_margin: 12px 12px 205px 12px;
$bar_opacity: 0.7;
$bar_button_opacity: 0;
$panel_button_padding: 4px 10px 4px 10px;
$bar_padding: 3px 3px 3px 3px ;
$bar_shadow: false;
$bar_button_shadow: false;
$bar_button_border_radius: 6px 6px 6px 6px ;
$system_monitor_margin: 12px 12px 12px 12px;
$bar_border: false;
$window_opacity: 0.7;
$window_border: false;
