/* Tokyonight by folke */
/* color0 #15161e */
/* color1 #f7768e */
/* color2 #9ece6a */
/* color3 #e0af68 */
/* color4 #7aa2f7 */
/* color5 #bb9af7 */
/* color6 #7dcfff */
/* color7 #a9b1d6 */
/* # extended colors */
/* color16 #ff9e64 */
/* color17 #db4b4b */

/* dash to dock border & custom border-radius */
#dashtodockContainer.bottom.shrink #dash .dash-background {
  border-radius: 11.2px;
  border: 1px;
  border-color: #c0caf5;
}

/* arcmenu custom image */
.arcmenu-menu > * > * > * > * > *:first-child {
  border-color: #c0caf5;
  border-radius: 11.2px;
  margin: 0;
  padding: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
  background-image: url("~/wallpapers/sky.png");
  background-size: cover;
}
.arcmenu-menu > * > * {
  padding: 0;
}

/* panel custom color */
/*********************/
.panel-button {
  color: #ff9e64;
  box-shadow: inset 0 0 0 1px #ff9e64;
}

.panel-button:hover,
.panel-button:active {
  color: #1a1b26;
  background-color: #ff9e64;
}

/* arcmenu */
.arcmenu-panel-menu {
  color: #f7768e;
  box-shadow: inset 0 0 0 1px #f7768e;
}

.arcmenu-panel-menu:hover,
.arcmenu-panel-menu:active {
  color: #1a1b26;
  background-color: #f7768e;
}

/* aylur's widget dashboard */
.dashboard-button {
  color: #ff9e64;
  box-shadow: inset 0 0 0 1px #ff9e64;
}
.dashboard-button:hover,
.dashboard-button:active {
  color: #1a1b26;
  background-color: #ff9e64;
}

/* clock panel button */
.clock-display {
  color: #ff9e64;
  box-shadow: inset 0 0 0 1px #ff9e64;
}

.clock-display:hover,
.clock-display:active {
  color: #1a1b26;
  background-color: #ff9e64;
}

/* aylur's widget power button */
.power-menu-panel-button {
  color: #f7768e;
  box-shadow: inset 0 0 0 1px #f7768e;
}

.power-menu-panel-button:hover,
.power-menu-panel-button:active,
.power-menu-panel-button:overview,
.power-menu-panel-button:focus,
.power-menu-panel-button:checked {
  color: #1a1b26 !important;
  background-color: #f7768e;
}

/* lockkeys panel menu */
.lockkeys-panel-menu {
  color: #7aa2f7;
  box-shadow: inset 0 0 0 1px #7aa2f7;
}

.lockkeys-panel-menu:hover,
.lockkeys-panel-menu:active {
  color: #1a1b26;
  background-color: #7aa2f7;
}

/* pop shell panel button
 * I added the class manually in popshell js file
 * Quick tutorial:
 * go to pop shell extension folder
 * Open panel_setting.js and add this after line 9:
 * this.button.add_style_class_name("pop-shell-panel-button"); */
.pop-shell-panel-button {
  color: #7aa2f7;
  box-shadow: inset 0 0 0 1px #7aa2f7;
}

.pop-shell-panel-button:hover,
.pop-shell-panel-button:active {
  color: #1a1b26;
  background-color: #7aa2f7;
}

/* workspace indicator panel button */
.workspace-indicator {
  color: #7aa2f7;
  box-shadow: inset 0 0 0 1px #7aa2f7;
}

.workspace-indicator:hover,
.workspace-indicator:active {
  color: #1a1b26;
  background-color: #7aa2f7;
}

/*
 * resource monitor,
 * edit extension.js files 
 * add: 
 * line 129 -> this.add_style_class_name("resource-monitor-panel");
 * line 298 -> this._cpuValue.add_style_class_name("cpu-value");
 * line 305 -> this._ramValue.add_style_class_name("ram-value");
 * _cpuUnit style_class -> "cpu-value"
 * _ramUnit style_class -> "ram-value"
 * change: 
 * _cpuIcon style_class to "cpu-status-icon"
 * _ramIcon style_class to "ram-status-icon"
 */
.ram-status-icon {
  color: #7aa2f7;
  width: 15px;
  padding-left: 10px;
  padding-right: 6px;
}

.cpu-status-icon {
  color: #f7768e;
  width: 15px;
  padding-left: 0px;
  padding-right: 6px;
}

.resource-monitor-panel {
  color: #c0caf5;
  box-shadow: inset 0 0 0 1px #c0caf5;
}

.cpu-value {
  color: #f7768e;
}

.ram-value {
  color: #7aa2f7;
}

.resource-monitor-panel:hover {
  background-color: #1a1b26;
}
